<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script src='/game/phaser.js'></script>
    <script src='/game/scenes/loadScene.js'></script>
    <script src='/game/scenes/mainMenue.js'></script>
    <script src='/game/game.js'></script>
  </body>
</html>
